.v-component {
    opacity: 0;
}
.v-component.loaded {
    animation-duration: 300ms;
    animation-name: fadIn;
    opacity: 1;
}
@keyframes fadIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-webkit-keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes loading {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}